<script src="{{ 'store-locator.js' | asset_url }}" defer="defer"></script>
{{ 'store-locator.css' | asset_url | stylesheet_tag }}

<store-locator id="store-locator" class="store-locator" role="region" aria-label="Store Locator">
  <div class="container">

    {% capture default_map %}
      <iframe src="https://my.atlistmaps.com/map/a8bd4bc0-5d44-45fe-a06b-e8372518a640?share=true" allow="geolocation 'self' https://my.atlistmaps.com" width="100%" height="400px" frameborder="0" scrolling="no" allowfullscreen></iframe>
    {% endcapture %}

    {% comment %} Content {% endcomment %}
    <h3 class="text-md-center">{{ section.settings.header | upcase }}</h3>
    {{ section.settings.copy }}

    {% comment %} Map embedded code {% endcomment %}
    {% if section.settings.map_embed != blank %}
      {{ section.settings.map_embed | default: default_map }}
    {% endif %}

    {% comment %} Decorations {% endcomment %}
    {% unless section.settings.show_decorations == false %}
      {% render 'icon-shaded-box' %}
      {% render 'icon-squigly-short' %}
    {% endunless %}
  </div>
</store-locator>

{% render 'section-spacing', section_name: 'store-locator' %}

{% schema %}
  {
    "class": "store-locator-section",
    "settings" : [
      {
        "type": "header",
        "content": "Map Embed"
      },
      {
        "type": "textarea",
        "id": "map_embed",
        "label": "Embeded Code",
        "info": "Suggested format: <iframe ...> (Recommeded to use Google Atlist)"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Store Locator"
      },
      {
        "type": "richtext",
        "id": "copy",
        "label": "Text"
      },
      {
        "type": "header",
        "content": "Visibility"
      },
      {
        "type": "checkbox",
        "id": "show_decorations",
        "label": "Show Decorations",
        "default": true
      }
    ],
    "presets": [
      {
        "name": "Store Locator"
      }
    ]
  }
{% endschema %}